/* globals */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.contact-header {
    background-color: orange;
    padding: 20px 40px;
    color: black;
    height: 150px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: black;
    margin-right: 20px;
}

.main-text {
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

.main-text h1 {
  font-size: 28px;
}

.main-text h3 {
  font-weight: bold;
  margin: 10px 0;
}

.main-text p {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.info-icon {
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.my-form {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.my-form fieldset {
  border: 1px solid #a0a0a0;
  margin: 20px 0;
  padding: 15px;
  text-align: left;
  border-radius: 10px;
}

.my-form div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.my-form label {
    width: 20%;
}

legend {
  font-weight: bold;
  color: #333;
}

label {
  display: inline-block;
  width: 120px;
  margin: 10px 0;
  vertical-align: top;
}

.my-form input,
.my-form textarea,
.my-form select {
  width: 60%;
  padding: 5px;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  margin-bottom: 10px;
}

textarea {
  height: 60px;
  resize: vertical;
}

input[type="radio"] {
  width: auto;
}

.contact-method {
  display: flex;
  gap: 10%;
}

.contact-method div {
    margin-bottom: -20px;
}

.contact-option {
  display: flex;
  align-items: center;
  gap: 80%;
}

.contact-option input[type="radio"] {
  margin: 0;
  vertical-align: middle;
}

.datetime-group {
  display: flex;
  align-items: center; /* vertical center */
  gap: 50px; /* optional: space between elements */
}

.datetime-group input[type="date"],
input[type="time"] {
  text-align: center;
  margin-bottom: 0;
}

.footer-container {
    background-color: #f4f4f4;
    padding: 15px 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ccc;
    margin-top: 40px;
    
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-container a {
    color: black;
}

.my-flex {
    display: flex;
}

.footer-text p:last-of-type {
    font-weight: bold;
    border-left: 3px solid black;
    padding-left: 20px;
    margin-left: 20px;
    text-decoration: underline;
}

.footer-icons div {
    display: flex;
    justify-self: center;
    align-items: center;
    border: 1px;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    margin-right: 10px;
}

.footer-content a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
}