
/* Global */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    margin: 10px 0px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    margin: 20px 0px;
}

/* Utilities */
.btn-details {
    margin-top: auto;
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.primary-header {
  background-image: url(img/header.jpg);
  background-position: top center;
  background-size: cover;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    align-items: flex-start;
}

.container h2 {
    margin-top: 10px;
}

.about-container {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    gap: 40px; /* Add space between image and text */
    min-height: 300px; /* Adjust as needed for alignment */
}

.about-container > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* evenly distribute h3+p blocks */
    padding: 10px 0; /* optional spacing */
}


.text-price {
    color: rgb(42, 175, 42);
    font-weight: bold;
}
/* Houses */
.houses-container {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.houses-container > div {
    flex: 1;
    padding: 20px;
    background-color: #dedede;
    justify-content: space-between;
    border: black;
}

.houses-container ul {
    list-style-type: none;
}

.houses-item {
    background-color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.houses-item h3 {
    margin-top: 15px;
}

.blog-item {
    background-color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.features-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Tablet View */
@media((min-width: 601px) and (max-width: 768px)) {
    .main-container {
        flex-direction:  column;
        justify-content: center;
    }
    .main-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-container img {
        width: 20%;
        margin-bottom: 20px;
    }
    .about-container {
        flex-direction:  column;
        justify-content: center;
    }
    .about-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-container img {
        width: 20%;
        margin-bottom: 20px;
    }
    
}


/* Phone View */
@media((max-width: 600px)) {
    .main-container {
        flex-direction:  column;
    }
    .main-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-container img {
        width: 40%;
    }
    .about-container {
        flex-direction:  column;
    }
    .about-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-container img {
        width: 40%;
    }
    .houses-container {
        flex-direction: column;
    }
    .houses-item {
        margin: 10px 0px;
    }
}